html {
  background: url('img/india.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.display {
  max-width: 500px;
  min-height: 50vh;
  max-height: 50vh;
  margin: 0 auto;
  border: 1px solid black;
  background-color: darksalmon;
  opacity: 0.5;
}

.keycode, .input-key {
  border: 1px solid white;
  width: 80%;
  height: 20vh;
  margin: 2.5vh auto;
}

p {
  text-align: center;
  font-size: 5em;
}
